@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

body {
}

.pirate--avatar {
  text-align: center;
}

.pirate--image {
  width: 100%;
  height: auto;
}

.owned-table {
  margin-bottom: 50px;
}

.sell_treasure-form {
  margin-bottom: 20px;
}

.header--logo {
  height: 40px;
  width: auto;
  margin-top: 5px;
}